<mat-toolbar class="mat-elevation-z3">
  <mat-toolbar-row class="navbar">
    <span>La Canchita</span>
    <span class="spacer"></span>
    <ng-container *ngFor="let user of Users">
      <small *ngIf="user.email == loggedUser">{{user.name}}</small>
    </ng-container>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="account-settings" class="icon"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="!loggedIn" routerLink="/login">Login</button>
      <button mat-menu-item *ngIf="loggedIn" (click)="logOut()">LogOut</button>
      <!-- <button mat-menu-item (click)="showUser()">ShowUser</button> -->
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row class="navbar footer mat-elevation-z2">
    <button mat-icon-button>
      <mat-icon svgIcon="soccer" class="icon"></mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon svgIcon="soccer-field" class="icon"></mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon routerLink="/newcomplex" svgIcon="clipboard-check" class="icon"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <app-new-complex-screen></app-new-complex-screen> -->
<!-- <app-signin-screen></app-signin-screen> -->
<!-- <app-signup-screen></app-signup-screen> -->
<!-- <app-cards></app-cards> -->
<router-outlet></router-outlet>