<mat-toolbar>
  <mat-toolbar-row class="navbar">
    <span>La Canchita</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon svgIcon="account-settings" class="icon"></mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row class="navbar footer">
    <button mat-icon-button>
      <mat-icon svgIcon="soccer" class="icon"></mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon svgIcon="soccer-field" class="icon"></mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon svgIcon="clipboard-check" class="icon"></mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>