<div class="center-screen box">
  <img src="../../assets/LOGO La Canchita.png">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput class="browser-default" type="text" placeholder="Nombre Completo" formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput class="browser-default" type="number" placeholder="Edad" formControlName="age">
    </mat-form-field>

    <mat-form-field>
      <mat-select class="browser-default" placeholder="Tipo de usuario" formControlName="type">
        <mat-option value="Jugador">Jugador</mat-option>
        <mat-option value="Dueño">Dueño</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput class="browser-default" type="email" placeholder="Correo Electronico" formControlName="email">
    </mat-form-field>

    <mat-form-field>
      <input matInput class="browser-default" placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>

    <div class="center-align">
      <button mat-raised-button type="submit" class="theme-button theme-primary-color">Registrar</button>
      <button mat-raised-button type="reset" class="theme-button">Cancelar</button>
    </div>
  </form>
</div>