<img class="center-screen" src="../../assets/LOGO La Canchita.png">
<br>
<div class="box center-align">
    <form [formGroup]="complexForm" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <input matInput class="browser-default" type="text" placeholder="Nombre del Complejo" formControlName="complexName">
            <mat-icon matSuffix svgIcon="home-account" class="icon"></mat-icon>
        </mat-form-field>

        <mat-grid-list class="grid" cols="2" rowHeight="3:1">
            <mat-grid-tile>
                <mat-form-field style="width: 90%">
                    <input matInput class="browser-default" type="number" placeholder="Numero de Cancha" formControlName="fieldNum">
                    <mat-icon matSuffix svgIcon="soccer-field" class="icon"></mat-icon>
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field style="width: 90%">
                    <ngx-mat-file-input class="browser-default form-control" formControlName="imageURL" placeholder="Escoja una Imagen"></ngx-mat-file-input>
                    <mat-icon matSuffix svgIcon="image" class="icon"></mat-icon>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-form-field>
            <textarea matInput class="browser-default" type="text" placeholder="Descripcion" formControlName="description"></textarea>
            <mat-icon matSuffix svgIcon="note-text" class="icon"></mat-icon>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput class="browser-default" type="text" placeholder="Direccion" formControlName="address"></textarea>
            <mat-icon matSuffix svgIcon="map-marker" class="icon"></mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-select class="browser-default" placeholder="Pais" formControlName="country" [(value)]="selectedCountry">
                <mat-option *ngFor="let country of countries" [value]="country.name">
                    {{country.name}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix svgIcon="flag" class="icon"></mat-icon>
        </mat-form-field>

        <ng-container *ngFor="let country of countries">
            <ng-container *ngIf="country.name == selectedCountry">
                <mat-form-field>
                    <mat-select class="browser-default" formControlName="city" placeholder="Ciudad">
                        <mat-option *ngFor="let city of country.states" [value]="city">
                            {{city}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix svgIcon="city" class="icon"></mat-icon>
                </mat-form-field>
                <mat-form-field>
                        <input matInput class="browser-default" type="tel" placeholder="Telefono" formControlName="telephone">
                        <span matPrefix>{{country.preffix}} &nbsp;</span>
                        <mat-icon matSuffix svgIcon="phone-in-talk" class="icon"></mat-icon>
                    </mat-form-field>
            </ng-container>
        </ng-container>

        <mat-grid-list class="grid" cols="2" rowHeight="3:1">
            <mat-grid-tile class="left-align" *ngFor="let feature of features">
                <mat-checkbox formControlName="{{feature.var}}">
                    <mat-icon svgIcon="{{feature.icon}}" class="icon"></mat-icon> {{feature.name}}</mat-checkbox>
            </mat-grid-tile>
        </mat-grid-list>

        <div class="center-align">
            <br>
            <button mat-raised-button type="submit" class="theme-button theme-primary-color">Registrar</button>
            <button mat-raised-button type="reset" class="theme-button" routerLink="/">Cancelar</button>
        </div>
    </form>
</div>